DealershipApp/DealershipMVC/Service References/DealershipService/DealershipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DealershipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/DealershipWCF/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/DealershipWCF/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/DealershipWCF/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DealershipModel.Entities" />
      <xsd:import schemaLocation="http://localhost/DealershipWCF/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFStatusResponse" />
      <xsd:import schemaLocation="http://localhost/DealershipWCF/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDealershipService_Dealerships_InputMessage">
    <wsdl:part name="parameters" element="tns:Dealerships" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_Dealerships_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealershipsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_AddDealership_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDealership" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_AddDealership_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDealershipResponse" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_Vehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:Vehicles" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_Vehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:VehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_Vehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:Vehicle" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_Vehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:VehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_DealerVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:DealerVehicles" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_DealerVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealerVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_VehicleFilterData_InputMessage">
    <wsdl:part name="parameters" element="tns:VehicleFilterData" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_VehicleFilterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:VehicleFilterDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_Dealership_InputMessage">
    <wsdl:part name="parameters" element="tns:Dealership" />
  </wsdl:message>
  <wsdl:message name="IDealershipService_Dealership_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealershipResponse" />
  </wsdl:message>
  <wsdl:portType name="IDealershipService">
    <wsdl:operation name="Dealerships">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealershipService/Dealerships" message="tns:IDealershipService_Dealerships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealershipService/DealershipsResponse" message="tns:IDealershipService_Dealerships_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDealership">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealershipService/AddDealership" message="tns:IDealershipService_AddDealership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealershipService/AddDealershipResponse" message="tns:IDealershipService_AddDealership_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Vehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealershipService/Vehicles" message="tns:IDealershipService_Vehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealershipService/VehiclesResponse" message="tns:IDealershipService_Vehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Vehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealershipService/Vehicle" message="tns:IDealershipService_Vehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealershipService/VehicleResponse" message="tns:IDealershipService_Vehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DealerVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealershipService/DealerVehicles" message="tns:IDealershipService_DealerVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealershipService/DealerVehiclesResponse" message="tns:IDealershipService_DealerVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VehicleFilterData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealershipService/VehicleFilterData" message="tns:IDealershipService_VehicleFilterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealershipService/VehicleFilterDataResponse" message="tns:IDealershipService_VehicleFilterData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dealership">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealershipService/Dealership" message="tns:IDealershipService_Dealership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealershipService/DealershipResponse" message="tns:IDealershipService_Dealership_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDealershipService" type="tns:IDealershipService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Dealerships">
      <soap:operation soapAction="http://tempuri.org/IDealershipService/Dealerships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDealership">
      <soap:operation soapAction="http://tempuri.org/IDealershipService/AddDealership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Vehicles">
      <soap:operation soapAction="http://tempuri.org/IDealershipService/Vehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Vehicle">
      <soap:operation soapAction="http://tempuri.org/IDealershipService/Vehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DealerVehicles">
      <soap:operation soapAction="http://tempuri.org/IDealershipService/DealerVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VehicleFilterData">
      <soap:operation soapAction="http://tempuri.org/IDealershipService/VehicleFilterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dealership">
      <soap:operation soapAction="http://tempuri.org/IDealershipService/Dealership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DealershipService">
    <wsdl:port name="BasicHttpBinding_IDealershipService" binding="tns:BasicHttpBinding_IDealershipService">
      <soap:address location="http://localhost/DealershipWCF/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>