DealershipApp/DealershipMVC/Service References/DealershipService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DealershipModel.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DealershipModel.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DealershipWCF/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfDealership">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dealership" nillable="true" type="tns:Dealership" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDealership" nillable="true" type="tns:ArrayOfDealership" />
  <xs:complexType name="Dealership">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehicles" nillable="true" type="tns:ArrayOfVehicle" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Dealership" nillable="true" type="tns:Dealership" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dealership" nillable="true" type="tns:Dealership" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImgURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
</xs:schema>